{% load static %}
<html>
    <head>
        <title>FFC</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/faircom.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Inconsolata:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Inconsolata:wght@500&display=swap" rel="stylesheet">
    
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
               $("#menu").on("click","a", function (event) {
                   event.preventDefault();
                   var id  = $(this).attr('href'),
                       top = $(id).offset().top;
                   $('body,html').animate({scrollTop: top}, 1500);
               });
           });
           </script>

           <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div>
        <h1 align="center"><a href="">Фейрком Лоджистикс</a></h1>
        </div>
        <div>
            <ul id="menu">
                <li><a href="#company">О компании</a></li>
                <li><a href="#services">Наши услуги</a></li>
                <li><a href="#contacts">Контакты</a></li>
            </ul>
        </div><br/>
        <div>
            <article id="company">
                <a name="company"><h2>О компании</h2></a>
                   <h5><p>Группа компаний Фейрком Лоджистикс предоставляет своим клиентам комплекс услуг, оказываемых профессиональным 4PL-провайдером,
                       специализацией которого является логистика свежих продуктов питания, в том числе овощей и фруктов. Мы обеспечиваем производителей и
                       поставщиков овощей и фруктов в торговые сети полным циклом логистических услуг. Приоритетное место в нашей деятельности занимают своевременное 
                       и качественное выполнение всех заказов, эффективная организация доработок, фасовок, хранения, транспортировки и реализации сельскохозяйственной 
                       продукции, а также таможенного обслуживания внешнеторгового потока продуктов. Для решения логистических задач наших клиентов мы используем различные
                       инструменты:
                        <ul type="square"> 
                            <li>рефрижераторный транспорт;</li>
                            <li>холодильные склады с регулируемым температурным режимом;</li>
                            <li>персонал, имеющий профессиональную подготовку для выполнения поставленных задач(в том числе работа с таможенными органами и услугами по сертификации овощей и фруктов).</li>
                        </ul>
                        </p>
                        <p>
                        Нашими стратегическими партнерами являются такие федеральные торговые сети, как: <strong>X5 Retail Group, МЕТРО, Азбука Вкуса, ЛЕНТА.</strong>
                        </p>    
                   </h5>
            </article>
        </div>
        <div>
            <article id="services">
                <a name="services"><h2>Наши услуги</h2></a>
                <h4><p><strong>1. Логистика, предпродажная подготовка овощей и фруктов для торговых сетей</strong></p>
                </h4>
                <h5>Сегодня мы предлагаем полный набор услуг предпродажной подготовки продукции по самым современным стандартам и требованиям заказчиков:
                    <ul type="square"> 
                        <li>предоставление тары (короба, паллеты);</li>
                        <li>сортировка, калибровка;</li>
                        <li>переборка, фасовка (опт и розница);</li>
                        <li>комплектация, штрихкодирование и маркировка товаров;</li>
                        <li>грузоперевозки, рефрижераторный транспорт;</li>
                        <li>складирование и хранение товаров.</li>
                    </ul>
                </h5>
                <h4><p><strong>2.	Сбыт и реализация овощей и фруктов  через наши торговые площадки ( Х5, МАГНИТ, МЕТРО, Азбука Вкуса, ЛЕНТА)</strong></p>
                </h4>
                <h5>Наша компания предоставляет нашим партнерам возможность реализовать свою продукцию через наши торговые площадки выше указанным федеральным сетям. 
                    Уже сейчас многие компании знакомы с нашей бизнес-моделью и выражают заинтересованность в выходе на нашу площадку в качества закупщика и поставщика.</h5>
                <h4><p><strong>3.	Таможенное оформление и услуги по ВЭД (импорт и экспорт)</strong></p>
                </h4>
                <h5>
                    Мы осуществляем полный цикл по осуществлению  импорта овощей и фруктов  для наших партнеров:
                    <ul type="square"> 
                        <li>заключение ВЭД контракта с зарубежным поставщиком;</li>
                        <li>подбор кодов ТНВЭД на товар;</li>
                        <li>подготовка сопроводительных документов; </li>
                        <li>оформление разрешительных документов;</li>
                        <li>проработка оптимальной схемы доставки и подбор транспорта;</li>
                        <li>расчет и совершение таможенных платежей;</li>
                        <li>оплата товара поставщикам;</li>
                        <li>таможенное оформление и выпуск товаров в свободное обращение;</li>
                        <li>доставка товара клиенту;</li>
                        <li>предоставление детального отчета о расходах на поставку;</li>
                        <li>экспорт товара ( сборные грузы в Республику Азербайджан и Молдавия).</li>
                    </ul>
                    Наши специалисты проконсультируют Вас по всем вопросам, проведут таможенное оформление товара, а также организуют доставку груза до покупателя из любой точки России.
                    Мы рассматриваем коммерческие предложения по оптовым закупкам  овощей и фруктов от производителей , импортеров и дистрибьюторов для своей компании.
                </h5>
                <h4><p><strong>4. Консалтинговые услуги </strong></p>
                </h4>
                <h5>
                    <ul type="square"> 
                    <li>помощь стартапам;</li>
                    <li>бухгалтерские услуги и налоговое сопровождение;</li>
                    <li>банковский консалтинг и финансирование сделки;</li>
                    <li>юридические услуги для бизнеса; </li>
                    <li>аудит для ритейла;</li>
                    <li>сертификация продуктов питания;</li>
                    <li>автоматизация и цифровизация бизнес процессов, IT аутсорсинг;</li>
                    <li>ВЭД аутсорсинг для В2В и В2С ( импорт и экспорт).</li>
                    </ul>
                </h5>
            </article>
        </div>
        <div>
            <a name="contacts"><article id="contacts"></a>
                <h2>Контакты</h2>
                <p><h5><strong>Мы находимся по адресу:</strong>  142784, г.Москва, п. Московский, д. Румянцево, стр.2, этаж 9, блок Г</p><br/>
                <p><strong>Телефон:</strong> <p> + 7 916 522 47 55 </p>
                                              <p> +7 916 785 27 62</p></p>
                <p><strong>Почта:</strong><wbr>   <p>  ffcompany2013@mail.ru</p>
                                              <p>  zakaz@ffcom.ru</p></p>
          </h5>
            </article>
        </div>
    </body>
</html>